/* region calendar */

:root {
	--calendar-fasting-bg:      rgb(239,239,239); /* rgba(219,219,219,.5); */
	--calendar-desc-fasting-bg: rgba(219,219,219,.5);
	--dark-calendar-fasting-bg: rgb(82, 82, 82); /* rgba(219,219,219,.3); */

	--calendar-week-bg:      rgb(251,244,228); /* rgba(240,214,154, .7); */ /* rgb(244, 226, 184) */
	--calendar-desc-week-bg: rgba(240,214,154, .6);
	--dark-calendar-week-bg: rgb(110, 100, 76); /* rgba(240,214,154, .4) */

	--calendar-valaam-bg:      rgb(206,232,206); /*rgba(186,223,185,0.7);*/
	--calendar-desc-valaam-bg: rgb(186,223,185);
	--dark-calendar-valaam-bg: rgba(186,223,185,0.7);

	--calendar-holiday-bg:      rgb(255,170,163); /*rgba(255,161,154, .9);*/ /* rgba(240,161,154, 0.7) */
	--calendar-desc-holiday-bg: rgb(255,161,154);
	--dark-calendar-holiday-bg: rgba(255,161,154, .9); /* rgba(240,161,154, 0.7) */

	--calendar-commemoration-border:      rgb(151,151,151);
	--calendar-desc-commemoration-border: rgb(151,151,151);
	--dark-calendar-commemoration-border: rgba(255, 255, 255, .87);

	--calendar-easter-bg:      rgba(255, 0, 0, .7);
	--calendar-desc-easter-bg: rgba(255, 0, 0, .7);
	--dark-calendar-easter-bg: rgba(255, 0, 0, .7);

	--calendar-desc-circle-width: 24px;
	--calendar-border-bottom-width: 2px;
	--calendar-padding-bottom: 21px;
}

.calendar-inline {
	--f7-toolbar-bg-color: transparent;
}

.calendar-inline .toolbar-top {
	top: 0;
}

.calendar-inline .calendar-month-picker-item {
	width: calc(100% / 3);
	height: 25%;
}

.calendar-inline .calendar-week-header {
	border-bottom: calc(var(--calendar-border-bottom-width) / var(--f7-device-pixel-ratio)) solid rgba(0,0,0,.08);
	margin-bottom: 6px;
}

#calendar-days {
  border-bottom: calc(var(--calendar-border-bottom-width) / var(--f7-device-pixel-ratio)) solid rgba(0,0,0,.08);
  padding-bottom: var(--calendar-padding-bottom);
}

.calendar-months {
	height: auto;
	flex-grow: 1;
}

.calendar-months-wrapper {
  position: absolute;
}

.calendar-day .calendar-day-number {
  line-height: calc(2px + var(--f7-calendar-day-size));
}

.calendar-day-today .calendar-day-number {
  box-sizing: border-box;
  border: 2px solid var(--f7-theme-color);
  line-height: calc(-2px + var(--f7-calendar-day-size));
}

.page > .searchbar,
.subnavbar .searchbar,
.searchbar-expandable {
  --f7-searchbar-input-extra-padding-left: 25px;
}

a.link.calendar-prev-month-button {
    padding-left: 0;
}

a.link.calendar-next-year-button {
    padding-right: 0;
}

.calendar-day {
	font-weight: bold;
	position: relative;
	box-sizing: border-box;
}

.calendar-day:nth-child(7n+1)  {
	z-index: 7;
}

.calendar-day:nth-child(7n+2)  {
	z-index: 6;
}

.calendar-day:nth-child(7n+3)  {
	z-index: 5;
}

.calendar-day:nth-child(7n+4)  {
	z-index: 4;
}

.calendar-day:nth-child(7n+5)  {
	z-index: 3;
}

.calendar-day:nth-child(7n+6)  {
	z-index: 2;
}

.calendar-day:nth-child(7n)  {
	z-index: 1;
}

.vm-calendar-day-description nobr {
    display: block;
}

.vm-calendar-day-description span {
	border-radius: 50%;
  width: var(--calendar-desc-circle-width);
  height: var(--calendar-desc-circle-width);
	box-sizing: border-box;
}

.calendar-day:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) {
	background-color: transparent;
}

.calendar-day.calendar-day-selected .calendar-day-number {
    background-color: var(--f7-calendar-selected-bg-color,var(--f7-theme-color)) !important;
}

.vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--calendar-fasting-bg);
}

.theme-dark .vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--dark-calendar-fasting-bg);
}

.vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	content: '';
	position: absolute;
	left: -50%;
	top: calc((100% - var(--f7-calendar-day-size)) / 2);
	height: var(--f7-calendar-day-size);
	width: 100%;
	background-color: var(--calendar-fasting-bg);
}

.theme-dark .vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-fasting:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	background-color: var(--dark-calendar-fasting-bg);
}

.vm-calendar-day-description .vm-calendar-day-fasting {
	background-color: var(--calendar-desc-fasting-bg);
}

.vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color:  var(--calendar-week-bg);
}

.theme-dark .vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--dark-calendar-week-bg);
}

.vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	content: '';
	position: absolute;
	left: -50%;
	height: var(--f7-calendar-day-size);
	width: 100%;
	background-color:  var(--calendar-week-bg);
}

.theme-dark  .vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-week:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	background-color: var(--dark-calendar-week-bg);
}

.vm-calendar-day-description .vm-calendar-day-week {
	background-color: var(--calendar-desc-week-bg);
}

.vm-calendar-day-valaam:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--calendar-valaam-bg);
}

.vm-calendar-day-description .vm-calendar-day-valaam {
	background-color: var(--calendar-desc-valaam-bg);
}

.vm-calendar-day-holiday:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--calendar-holiday-bg);
}

.vm-calendar-day-description .vm-calendar-day-holiday {
	background-color: var(--calendar-desc-holiday-bg);
}

.vm-calendar-day-holiday.calendar-day-weekend:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) {
	color: #fff;
}

.vm-calendar-day-grandholiday:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	/*background-color: rgba(255,164,96,.7);*/
	border: solid 2px var(--calendar-holiday-bg);
}

.vm-calendar-day-description .vm-calendar-day-grandholiday {
	/* background-color: rgb(255,164,96); */
	background-color: transparent;
	border: solid 2px var(--calendar-desc-holiday-bg);
}

.vm-calendar-day-commemorationdead:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	border: solid 2px var(--calendar-commemoration-border);
}

.theme-dark .vm-calendar-day-commemorationdead:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	border-color: var(--dark-calendar-commemoration-border);
}

.vm-calendar-day-description .vm-calendar-day-commemorationdead {
	border: solid 2px var(--calendar-desc-commemoration-border);
}

.theme-dark .vm-calendar-day-description .vm-calendar-day-commemorationdead {
	border-color: var(--dark-calendar-commemoration-border);
}

.vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	color: rgba(186,18,18,.7) !important; /* rgba(186,18,18,.56) */
	background-color: var(--calendar-week-bg);
	font-weight: bold;
}

.theme-dark .vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	background-color: var(--dark-calendar-week-bg);
}

.vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	content: '';
	position: absolute;
	left: -50%;
	height: var(--f7-calendar-day-size);
	width: 100%;
	background-color: var(--calendar-week-bg);
}

.theme-dark .vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) + .vm-calendar-day-lightweek:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next):before {
	background-color: var(--dark-calendar-week-bg);
}

.vm-calendar-day-easter:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) .calendar-day-number {
	color: #fff !important;
	background-color: var(--calendar-easter-bg);
	font-weight: bold;
}

.vm-calendar-day-description .vm-calendar-day-easter {
	background-color: var(--calendar-desc-easter-bg);
}

.calendar-day.calendar-day-weekend:not(.calendar-day-disabled):not(.calendar-day-prev):not(.calendar-day-next) {
	color: rgba(186,18,18,.7); /* rgba(186,18,18,.56) */
}
/* endregion */

@media (min-width: 768px) {
	:root {
		--calendar-desc-circle-width: 36px;
		--calendar-border-bottom-width: 3px;
		--calendar-padding-bottom: 30px;

		--f7-calendar-day-size: 55px;
		--f7-calendar-day-font-size: 21px;
		--f7-calendar-height: 520px;
		--f7-calendar-picker-font-size: 24px;
		--f7-calendar-week-header-font-size: 24px;
		--f7-calendar-week-header-height: 55px;
	}

	.calendar-inline {
		--f7-toolbar-font-size: 24px;
		--f7-toolbar-height: 45px;
	}

	.calendar-inline .toolbar {
		margin-bottom: 14px;
	}

	.calendar-day {
    letter-spacing: 0.42px;
	}

	.calendar-week-header {
		letter-spacing: 0.2px;
	}

	.md .list .item-media {
    min-width: 60px;
	}

	.vm-calendar-day-description .item-link {
		margin-bottom: 9px;
	}
}
