@font-face {
	font-family: Triodion;
	/* src: url('../fonts/Triodion.eot'); /* IE9 Compat Modes */
	src: local('Triodion'), local('Triodion Ucs'),
		   url('../fonts/Triodion.woff2') format('woff2'); /* Super Modern Browsers */
			/* url('../fonts/Triodion.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Triodion.woff') format('woff'),
			   url('../fonts/Triodion.ttf') format('truetype'),
			   url('../fonts/Triodion.svg#Triodion-Ucs') format('svg'); */
}

@font-face {
	font-family: Hirmos;
	src: local('Hirmos'), local('Hirmos Ucs'),
		   url('../fonts/HirmUcs8.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: StaroUspenskaya;
	src: local('StaroUspenskaya'), local('StaroUspenskaya Ucs'),
		   url('../fonts/StusUcs.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Pochaevsk;
	src: local('Pochaevsk'), local('Pochaevsk Ucs'),
		   url('../fonts/PochUcs.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Ostrog;
	src: local('Ostrog'), local('Ostrog Ucs'),
		   url('../fonts/OstgUcs.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Akathistos;
	src: local('Akathistos'), local('Akathistos Ucs'),
		   url('../fonts/AkathUcs8.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Orthodox;
	src: local('Orthodox.tt'), local('Orthodox.tt Ucs'),
		   url('../fonts/OrtUcs8.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'Triodion Unicode';
	src: local('Triodion Unicode'),
       url('../fonts/TriodionUnicode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Light'), local('Circe-Light'),
		   url('../fonts/Circe-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe'), local('Circe-Regular'),
			 url('../fonts/Circe-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Bold'), local('Circe-Bold'),
		   url('../fonts/Circe-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Med'),
		   url('../fonts/NotoSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}


/*
@font-face {
	font-family: 'Arial';
	src: local('Arial Italic'), local('Arial-Italic'),
		   url('../fonts/Arial-ItalicMT.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arial';
	src: local('Arial Regular'), local('Arial-Regular'),
			 url('../fonts/ArialMT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: local('Arial Bold'), local('Arial-Bold'),
		   url('../fonts/Arial-BoldMT.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
	    url('../fonts/NotoSerif-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
	    url('../fonts/NotoSerif-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
	    url('../fonts/NotoSerif-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Regular'), local('NotoSerif-Regular'),
	    url('../fonts/NotoSerif-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold'), local('PTSans-Bold'),
	    url('../fonts/PTSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Italic'), local('PTSans-Italic'),
	    url('../fonts/PTSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'), local('PTSans-Regular'),
	    url('../fonts/PTSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
	    url('../fonts/PTSans-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: local('PT Serif'), local('PTSerif-Regular'),
	    url('../fonts/PTSerif-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: local('PT Serif Italic'), local('PTSerif-Italic'),
	    url('../fonts/PTSerif-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
	    url('../fonts/PTSerif-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: local('PT Serif Bold'), local('PTSerif-Bold'),
	    url('../fonts/PTSerif-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
      url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
      url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
