/* region navbar */
:root {
	--f7-navbar-font-size: 14px;
	--f7-navbar-height: 42px;
	/* --f7-navbar-height: 42px; */
	--f7-subnavbar-height: 55px;
	--f7-navbar-title-font-weight: bold;
	--f7-navbar-link-color: rgba(255,255,255,.7);

	--f7-navbar-large-title-font-size: 29px;
	--f7-navbar-large-title-font-weight: 500;
	--f7-navbar-large-title-line-height: 32px;

	--navbar-extra-title-font-size: 18px;
}

.md:not(.theme-dark) {
	--f7-navbar-shadow-image: transparent;
	--f7-navbar-border-color: rgba(255,255,255,.25);
	--f7-navbar-text-color: white;
	--f7-navbar-bg-color: transparent; /*#1b1b35;*/

	--f7-subnavbar-bg-color: transparent;
	--f7-subnavbar-bg-image: transparent;
	--f7-subnavbar-shadow-image: transparent;
}

:root.ios-statusbar {
	--f7-safe-area-top: 20px;
}

:root.android-statusbar {
	--f7-safe-area-top: 24px;
}

.md:not(.theme-dark) .navbar-bg {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar .title-large {
	font-family: 'Noto Sans', Arial;
}

.navbar .title-large-text {
	white-space: normal;
}

.navbar .title-large-subtext {
  color: var(--f7-navbar-link-color);
	font-size: var(--f7-navbar-font-size);
}

.navbar-bg:after {
	height: 2px;
	width: auto;
	left: var(--f7-block-padding-horizontal);
	right: var(--f7-block-padding-horizontal);
}

/* .navbar-inner {
	height: calc(100% - var(--statusbar-height));
} */

.navbar-inner:before {
  content: '';
  background-color: var(--f7-navbar-border-color);
  height: 1px;
  width: 100%;
  position: absolute;
  top: var(--f7-safe-area-top);
}

.navbar .title {
	text-transform: uppercase;
	/* font-size: 1.1em; */
	padding-top: 1px;
}

/* .navbar .left + .title {
	display: none;
} */

.md .navbar a.link {
	padding: 0 12px;
}

.md .navbar a.link:last-child {
	padding-right: var(--f7-block-padding-horizontal);
}

.navbar-collapse {
	--navbar-opacity: 0;
	background-color: var(--f7-page-bg-color);
}

.md:not(.theme-dark) .page:not(.page-white) .navbar-collapse {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar-collapse .navbar-bg {
	opacity: var(--navbar-opacity);
}

.navbar-collapse .title {
	opacity: var(--navbar-opacity);
}

@media (max-width: 325px) {
	.md .navbar a.link {
		padding: 0 10px;
		min-width: 36px;
	}
}

.navbar a.link.back {
  padding-left: 16px;
}

.navbar a.link.back span {
	/* color: var(--f7-navbar-text-color); */
	font-weight: var(--f7-navbar-title-font-weight);
	text-transform: uppercase;
	padding-top: 1px;
}

.navbar a.link.popup-open {
	padding: 0 7px;
  min-width: 40px;
  margin-right: 13px;
}

.navbar a.link.back .icon-back {
	--f7-navbar-link-color: rgba(255,255,255,.6);
	margin-left: -6px;
}

.navbar a.link.vm-searchbar-button {
	margin-right: 8px;
	display: none;
	color: #000;
}

/** region read-mode */
.read-mode {
	--f7-navbar-extra-height: 52px;
}

.read-mode .navbar-bg {
  height: calc(100% + var(--f7-navbar-extra-height, 0));
}

.read-mode .navbar-hidden {
  transform: translate3d(0, calc(-1 * var(--f7-navbar-extra-height, 0) - var(--f7-navbar-height)), 0);
	/*  - var(--f7-safe-area-top) */
}

.read-mode .navbar-inner {
	overflow: visible;
}

.navbar-extra {
	display: none;
  position: absolute;
  top: calc(var(--f7-navbar-height, 0) + var(--f7-safe-area-top, 0));
  left: 0;
	right: 0;
	padding: 0 var(--f7-block-padding-horizontal) calc(var(--f7-block-padding-vertical) / 2) var(--f7-block-padding-horizontal);
}

.navbar-hidden .navbar-inner > .navbar-extra {
  opacity: 0 !important;
}

.read-mode .navbar-extra {
	display: block;
	margin-top: -5px;
}

.navbar-extra-title {
	font-size: var(--navbar-extra-title-font-size);
	line-height: 1.1;
}

.navbar-extra-subtitle {
  color: var(--f7-navbar-link-color);
	padding-bottom: 2px;
}

/** end region read-mode */

@media (min-width: 768px) {
	:root {
		--f7-navbar-font-size: 20px;
		--f7-navbar-title-font-size: 20px;
		--f7-navbar-title-margin-left: 35px;
		--f7-navbar-height: 52px;

		--f7-navbar-large-title-font-size: 46px;
		--f7-navbar-large-title-line-height: 54px;

		--navbar-extra-title-font-size: 26px;

		--f7-subnavbar-height: 80px;
		--f7-subnavbar-inner-padding-left: 35px;
		--f7-subnavbar-inner-padding-right: 35px;

		--f7-navbar-large-title-padding-left: 35px;
	}

	.navbar .title {
		letter-spacing: 1.5px;
	}

	.md .navbar a.link {
	   padding: 0 calc(var(--f7-block-padding-horizontal) / 2);
	}

	.navbar a.link.back {
		letter-spacing: 1.5px;
		padding-left: var(--f7-block-padding-horizontal);
	}

	.navbar a.link.back .icon-back {
		margin-left: -14px;
		width: 40px;
	}

	.navbar a.link.back span {
		padding-top: 3px;
	}

	.md .icon-back:after,
	.md .icon-prev:after,
	.md .icon-forward:after,
	.md .icon-next:after {
		font-size: 28px;
		line-height: 1;
	}

	.md .icon-back,
	.md .icon-forward,
	.md .icon-next,
	.md .icon-prev {
		width: 28px;
		height: 28px;
	}

	.md .navbar .material-icons {
		width: 28px;
	}
}
/* endregion */
