/* region vm-rites */
.vm-rites-names .item-link .item-inner:before {
	display: none;
}

.vm-rites-names .item-title {
	position: static;
}

.vm-rites-names .item-title:empty:after {
	content: 'Добавить имя';
}

.vm-rites-names .item-title:empty:before {
	font-family: 'Material Icons Round';
  font-weight: 400;
	font-weight: normal;
	line-height: 1;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	font-feature-settings: "liga";
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	width: auto;
	margin-right: -4px;
	margin-top: calc( -1.3 * var(--f7-input-font-size) / 2 );
	font-size: calc(1.3 * var(--f7-input-font-size));
  color: var(--f7-list-chevron-icon-color);
  pointer-events: none;
  right: calc(var(--f7-input-outline-padding-horizontal) + var(--f7-safe-area-right));
  content: 'add';
}

.vm-rites-donate .item-input-wrap:before {
	content: 'руб.';
	line-height: 1;
	position: absolute;
	top: 50%;
	right: var(--f7-input-outline-padding-horizontal);
	margin-top: calc( -1 * var(--f7-input-font-size) / 2 );
	font-size: var(--f7-input-font-size);
}

.vm-rites-donate.item-input-with-value .item-input-wrap:before {
	right: calc( var(--f7-input-clear-button-size) + var(--f7-input-outline-padding-horizontal));
}
/* endregion */
