/* region .slavonic */
.page-content h2 > a {
	color: var(--kinovar-color);
}

.redcap p:first-letter {
	color: var(--kinovar-color);
	font-weight: bold;
}

.churchslavonic-ereader {
	font-family: 'Triodion Unicode', serif;
	font-size: 1.5em;
	color: var(--read-text-color);
	background: var(--read-text-background);
}

.churchslavonic-ereader .text-color-red {
	font-family: Circe, Noto, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.text-color-red {
	color: var(--kinovar-color)!important;
}

.slavonic h2,
.churchslavonic h2 {
	color: var(--kinovar-color);
	font-weight: inherit; /*bold;*/
	font-size: 1.1em;
	text-align: center;
}

.churchslavonic {
	font-family: Triodion, serif;
	font-size: 1.5em;
	line-height: 1.25;
	text-align: justify;
	color: var(--read-text-color);
	background: var(--read-text-background);
}

.churchslavonic p {
	margin: 1ex 0;
}

.churchslavonic p:first-child {
    margin-top: 0;
}

.churchslavonic b,
.churchslavonic strong,
.slavonic b,
.slavonic strong {
	color: var(--kinovar-color);
	font-size: inherit;
	font-weight: inherit; /*bold;*/
}

.slavonic p:first-letter,
.churchslavonic p:first-letter {
	color: var(--kinovar-color);
	font-weight: inherit; /*bold;*/
}

.slavonic ol li::before {
	color: var(--kinovar-color);
}

.slavonic em {
    font-family: inherit;
    font-size: inherit;
}
/* endregion */
