/** region text-content */
.text-content {
	/* font-family: Arial, 'Helvetica Neue', sans-serif; */
	font-size: 17px;
	overflow: hidden;
	text-align: justify;
}

/*.md .view:not(#view-main) .text-content { */
.md .view .text-content {
	color: var(--read-text-color);
	background: var(--read-text-background);
}

.device-ios .text-content {
	/* font-size: 21px; */
}

/* .text-content p {
	text-align: justify;
} */

.text-content img:first-child + p {
    margin-top: 0;
}

.text-content a {
  /* --f7-theme-color: rgba(var(--f7-theme-color-rgb), .8); */
	color: rgba(var(--f7-theme-color-rgb), .8);
	text-indent: 0;
}

.nowrap {
	white-space: nowrap;
}

.text-content a.external {
	overflow-wrap: break-word;
}

.text-content a > .icon {
  color: var(--f7-theme-color);
	margin-right: 7px;
}

.text-content a > .icon.margin-left {
	margin-right: 0;
	--f7-typography-margin: 7px;
}

.text-content a.ext-border {
	border-bottom: 1px solid rgba(var(--f7-theme-color-rgb), .4);
	position: relative;
	line-height: var(--f7-line-height);
}

.text-content a.ext-border > .icon {
  color: rgba(var(--f7-theme-color-rgb), .7);
  margin-left: 7px;
  position: absolute;
}

.text-content ul {
  list-style: none;
  padding:0;
  margin:0;
}

.text-content ul li {
  padding-left: 21px;
  text-indent: -21px;
	padding-bottom: 1em;
}

.text-content ul li:before {
  content: "•";
  font-size: 30px;
  padding-right: 15px;
  line-height: 10px;
  height: 10px;
  vertical-align: middle;
  color: var(--f7-theme-color);
}

.text-content a.social {
	display: inline-block;
	border: 1px solid var(--f7-theme-color);
	color: var(--f7-theme-color);
	width: 35px;
	height: 35px;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	border-radius: 17.5px;
}

.text-content ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-left: 0;
}
.text-content ol li {
  counter-increment: my-awesome-counter;
}

.text-content ol li::before {
  content: counter(my-awesome-counter) ". ";
  /*color: var(--f7-theme-color);*/
  /* font-weight: bold; */
  float: left;
  margin-right: 5px;
}


/* region #view-valaam */
.text-content:not(.slavonic) h2 {
	/* font: 500 1.1em/1.3 'Gotham Pro'; */
	font: 500 1.2em/1.33 'Noto Sans';
	color: rgba(0,0,0,.9);
	margin-top: 1em;
}

.theme-dark .text-content:not(.slavonic) h2 {
	color: var(--f7-block-strong-text-color);
}
/* endregion */

@media (min-width: 768px) {
	.text-content {
		font-size: var(--f7-font-size);
	}

	.text-content:not(.slavonic) h2 {
		/* font: 500 1.1em/1.3 'Gotham Pro'; */
		font: 500 30px/36px 'Noto Sans';
	}

	.text-content ul li:before {
		font-size: 45px;
	}
}
/* endregion */
