.md {
	--f7-toolbar-font-size: var(--f7-font-size);
	--f7-toolbar-bg-color: rgba(250,250,250,.9);

  --f7-toolbar-height: 48px;
  --f7-toolbar-font-size: 14px;

  --f7-tabbar-labels-height: 48px; /* 56px */
  /* --f7-tabbar-labels-tablet-height: 56px; */

  --f7-tabbar-icon-size: 24px;

  --f7-tabbar-label-font-size: 11px;
  --f7-tabbar-label-tablet-font-size: 14px;
  --f7-tabbar-label-font-weight: 600;
  --f7-tabbar-label-letter-spacing: 0.12px;
  --f7-tabbar-link-inactive-color: rgb(142, 142, 149);
}

.views > .tabbar-labels {
	backdrop-filter: blur(5px) saturate(200%);
}

.md.theme-dark .views > .tabbar-labels {
	--f7-toolbar-bg-color: rgba(32, 32, 32, .9);
}

/** region read-mode-toolbar */
.read-mode-toolbar {
	--f7-toolbar-height: 75px; /*48px;*/
	--f7-toolbar-link-height: 42px;
	--f7-toolbar-inner-padding-right: var(--f7-block-padding-horizontal);
	--f7-toolbar-inner-padding-left: var(--f7-block-padding-horizontal);

	--f7-range-bar-active-bg-color: white;
	--f7-range-knob-color: white;
	--f7-range-bar-bg-color: rgba(255,255,255, .25);
	--f7-range-size: 30px;

	--read-mode-range-font-size: 14px;
}

.md:not(.theme-dark) .read-mode-toolbar {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 calc(-100vh + var(--f7-toolbar-height) + var(--f7-safe-area-bottom));
	color: white;
}

.read-mode-toolbar .toolbar-inner {
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
}

.read-mode-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -5px;
}

.read-mode-toolbar .read-mode-row a.link {
	color: var(--f7-roolbar-link-color);
	padding: 0;
	min-width: var(--f7-toolbar-link-height);
}

.read-mode-toolbar .read-mode-row a.link:first-child {
	margin-left: calc(0px - var(--f7-toolbar-link-height) / 3);
}

.read-mode-toolbar .read-mode-row a.link:last-child {
	margin-right: calc(0px - var(--f7-toolbar-link-height) / 3);
}

.read-mode-range {
	margin-bottom: 5px;
}

.read-mode-range-text {
	white-space: nowrap;
  font-size: var(--read-mode-range-font-size);
  text-align: center;
	flex-grow: 1;
  line-height: var(--f7-toolbar-link-height);
}

/** endregion read-mode-toolbar */

.md .theme-dark, .md.theme-dark {
	--f7-toolbar-bg-color: var(--f7-bars-bg-color);
}

@media (min-width: 768px) {
	.md {
		--f7-toolbar-height: 78px;

		--f7-tabbar-labels-height: 78px;
		--f7-tabbar-icon-size: 39px;
		--f7-tabbar-label-font-size: 16px;
		--f7-tabbar-label-letter-spacing: 0.19px;
	}

	.read-mode-toolbar {
		--f7-toolbar-height: 100px;
		--read-mode-range-font-size: 20px;
		--f7-range-size: 40px;
		--f7-toolbar-link-height: 52px;
	}
}
