@import 'icons.css';
@import 'fonts.css';

@import 'vars.css';

@import 'navbar.css';
@import 'toolbar.css';

@import 'block.css';
@import 'list.css';

@import 'tabs.css';
@import 'stepper.css';
@import 'input.css';
@import 'radio.css';
@import 'smart-select.css';
@import 'toast.css';
@import 'dialog.css';
@import 'popover.css';
@import 'popup.css';
@import 'searchbar.css';

@import 'text-content.css';
@import 'slavonic.css';

@import 'calendar.css';
@import 'rites.css';

body,
.page {
	background-image: url('../images/bg.jpg'); /* var(--bg-image); */
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: var(--f7-page-bg-color);
}

.theme-dark .page {
	background-image: none;
}

:root .page-content {
	overflow-y: overlay;
	overflow-x: hidden;
}

.page {
	--scrollbar-width: 8px;
	--scrollbar-thumb-width: 2px;
	
	--scrollbar-thumb-alpha: 0;
	--scrollbar-thumb-color: rgba(255, 255, 255, var(--scrollbar-thumb-alpha));
	--scrollbar-thumb-shown-alpha: 0.3;
	--scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.5);
}

.page-content::-webkit-scrollbar {
  -webkit-appearance: none;
	width: var(--scrollbar-width);
}

.page-content::-webkit-scrollbar-thumb {
	min-height: 25px;
  background-clip: content-box;
  box-shadow: var(--scrollbar-thumb-color) 0 0 0 var(--scrollbar-width) inset;
	border-style: solid;
  border-color: transparent;
  border-width: 1px calc((var(--scrollbar-width) - var(--scrollbar-thumb-width)) / 2);
  border-radius: calc(var(--scrollbar-width) / 2 - 1px);
}

.page-content::-webkit-scrollbar-thumb:hover,
.page-content::-webkit-scrollbar-thumb:active {
	--scrollbar-thumb-color: var(--scrollbar-thumb-hover-color);
}

.page-white,
.smart-select-page {
	--scrollbar-thumb-color: rgba(0, 0, 0, var(--scrollbar-thumb-alpha));
	--scrollbar-thumb-shown-alpha: 0.2;
	--scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.4);
}

.theme-dark,
.theme-dark .page-white,
.theme-dark .smart-select-page  {
	--scrollbar-thumb-color: rgba(255, 255, 255, var(--scrollbar-thumb-alpha));
	--scrollbar-thumb-shown-alpha: 0.2;
	--scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.4);
}

.read-mode {
	--scrollbar-width: 4px;
	--scrollbar-thumb-width: 2px;
	--scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
	--scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.4);

	background: var(--read-text-background);
}

.theme-dark .read-mode {
	--scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
	--scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.4);
}

:root {
	--read-text-background: var(--f7-page-bg-color);
	--read-text-color: var(--f7-text-color);
}

.text-theme-grey {
	--read-text-background: rgb(225, 225, 225);
	--read-text-color: rgb(0, 0, 0);
	--kinovar-color: rgb(187, 0, 0);
}

.text-theme-sepia {
	--read-text-background: rgb(240, 222, 199);
	--read-text-color: rgb(100, 77, 50);
	--kinovar-color: rgb(122, 28, 28); /*rgb(194, 27, 25);*/
}

.text-theme-sepia-contrast {
	--read-text-background: rgb(240, 222, 199);
	--read-text-color: rgb(0, 0, 0);
	--kinovar-color: rgb(187, 0, 0);
}

.text-theme-cream {
	--read-text-background: url('../images/bg-cream.jpg');
	--read-text-color: rgb(34, 34, 34);/*rgb(91, 65, 36);*/
	--kinovar-color: rgb(141, 29, 33);
}

.text-theme-yellow {
	--read-text-background: rgb(255,245,209);
}

.preloader.color-white {
  --f7-theme-color: rgb(255,128,32);
}

.page-title {
	font-family: Noto Sans,Arial;
	white-space: normal;
	color: var(--f7-navbar-text-color);
	letter-spacing: var(--f7-navbar-large-title-letter-spacing);
	font-size: var(--f7-navbar-large-title-font-size);
	font-weight: var(--f7-navbar-large-title-font-weight);
	line-height: var(--f7-navbar-large-title-line-height);
	padding-left: calc(var(--f7-navbar-large-title-padding-left) + var(--f7-safe-area-left));
	padding-right: calc(var(--f7-navbar-large-title-padding-right) + var(--f7-safe-area-right));
	padding-top: var(--f7-navbar-large-title-padding-vertical);
	padding-bottom: var(--f7-navbar-large-title-padding-vertical);
	margin-top: 8px;
	box-sizing: border-box;
	overflow: hidden;
}

.page-subtitle {
	color: var(--f7-navbar-link-color);
	font-size: var(--f7-navbar-font-size);
}

.md .icon-back:after {
    content: 'chevron_left';
}

.md .icon-forward:after {
    content: 'chevron_right';
}

.button,
.md a.link:before,
.input-clear-button:before {
	transition-duration: unset !important;
}


.day-saints-text h2 {
	font-size: 1.3em;
	line-height: 1.3em;
}

/* region page-white */
.md:not(.theme-dark) .page-white {
	--f7-page-bg-color: white;
	background-image: none;
}

.page-white .navbar-bg {
   background-image: none;
}

.md:not(.theme-dark) .page-white .navbar-bg {
	 background-color: var(--f7-page-bg-color);
	 background-image: none;
}

.md:not(.theme-dark) .page-white {
   --f7-navbar-link-color: rgba(0,0,0,.25);
   --f7-navbar-text-color: var(--f7-text-color);
   --f7-navbar-border-color: rgba(0, 0, 0, 0.08);
}

.page-white .navbar-bg:after {
	height: 0;
}

.md:not(.theme-dark) .page-white h2.block {
	color: var(--f7-text-color);
}
/* end region */

/* region photo-browser-page */
.md:not(.theme-dark) .photo-browser-page .navbar {
	background-image: none;
}

/* .photo-browser-page .navbar .left + .title { */
	/* display: block; */
/* } */
/* endregion */

/* Картинка, вписанная в прямоугольник с подложкой*/
.media-obj {
	position: relative;
	background-color: #c2c2c2;/*#b3b3b3;*/
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theme-dark .media-obj {
	background-color: #1c1c1d;
}

.media-obj.no-bg {
	background-color: transparent;
}

.media-obj-tile {
	position: absolute;
	display: block;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;

	-webkit-filter: blur(30px);
	filter: blur(30px) saturate(200%);
	opacity: .9;
}

.media-obj-img {
	position: relative;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.skeleton-text, .skeleton-text * {
    font-weight: 600!important;
}

.md:not(.theme-dark) .color-bg-light-yellow {
	background-color: #fff5d1;
}
