@import 'icons.css';
@import 'fonts.css';

@import 'vars.css';

@import 'navbar.css';
@import 'toolbar.css';

@import 'block.css';
@import 'list.css';

@import 'tabs.css';
@import 'stepper.css';
@import 'input.css';
@import 'radio.css';
@import 'smart-select.css';
@import 'toast.css';
@import 'dialog.css';
@import 'popover.css';
@import 'popup.css';
@import 'searchbar.css';

@import 'text-content.css';
@import 'slavonic.css';

@import 'calendar.css';
@import 'rites.css';

body,
.page {
	background-image: url('../images/bg.jpg'); /* var(--bg-image); */
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: var(--f7-page-bg-color);
}

.theme-dark .page {
	background-image: none;
}

:root .page-content {
	overflow-y: overlay;
	overflow-x: hidden;
}

.page-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: var(--scrollbar-width);
}

.page-content::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-width);
  background-color: rgba(255, 255, 255, .4);
}

.read-mode  {
	--scrollbar-width: 6px;
}

.read-mode .page-content::-webkit-scrollbar-thumb {
	border: 2px solid white;
  background-color: rgba(0, 0, 0, .3);
}

.read-mode .page-content::-webkit-scrollbar-track {
  background-color: white;
}

.theme-dark .read-mode .page-content::-webkit-scrollbar-track {
  background-color: var(--f7-page-bg-color);
}

.theme-dark .read-mode .page-content::-webkit-scrollbar-thumb {
	border: 2px solid var(--f7-page-bg-color);
  background-color: rgba(255, 255, 255, .2);
}

.theme-dark .page-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
}

/* hack for Chrome 49 =( */
/* .page-content {
	padding-top: calc(var(--f7-navbar-height) +
				var(--f7-safe-area-top) +
				var(--f7-page-toolbar-top-offset, 0px) +
				var(--f7-page-subnavbar-offset, 0px) +
				var(--f7-page-searchbar-offset, 0px) +
				var(--f7-page-content-extra-padding-top, 0px));

} */

.preloader.color-white {
  --f7-theme-color: rgb(255,128,32);
}

.md .icon-back:after {
    content: 'chevron_left';
}

.md .icon-forward:after {
    content: 'chevron_right';
}

.button,
.md a.link:before,
.input-clear-button:before {
	transition-duration: unset !important;
}


.day-saints-text h2 {
	font-size: 1.3em;
	line-height: 1.3em;
}

/* region page-white */
.md:not(.theme-dark) .page-white {
	--f7-page-bg-color: white;
	background-image: none;
}

.page-white .navbar-bg {
   background-image: none;
}

.md:not(.theme-dark) .page-white .navbar-bg {
	 background-color: var(--f7-page-bg-color);
	 background-image: none;
}

.md:not(.theme-dark) .page-white .navbar {
   --f7-navbar-link-color: rgba(0,0,0,.25);
   --f7-navbar-text-color: var(--f7-text-color);
   --f7-navbar-border-color: rgba(0, 0, 0, 0.08);
}

.page-white .navbar-bg:after {
	height: 0;
}

.md:not(.theme-dark) .page-white h2.block {
	color: var(--f7-text-color);
}
/* end region */

/* region photo-browser-page */
.md:not(.theme-dark) .photo-browser-page .navbar {
	background-image: none;
}

/* .photo-browser-page .navbar .left + .title { */
	/* display: block; */
/* } */
/* endregion */

/* Картинка, вписанная в прямоугольник с подложкой*/
.media-obj {
	position: relative;
	background-color: #c2c2c2;/*#b3b3b3;*/
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theme-dark .media-obj {
	background-color: #1c1c1d;
}

.media-obj.no-bg {
	background-color: transparent;
}

.media-obj-tile {
	position: absolute;
	display: block;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;

	-webkit-filter: blur(30px);
	filter: blur(30px) saturate(200%);
	opacity: .9;
}

.media-obj-img {
	position: relative;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.skeleton-text, .skeleton-text * {
    font-weight: 600!important;
}

.md:not(.theme-dark) .color-bg-light-yellow {
	background-color: #fff5d1;
}
