:root {
	--f7-block-footer-font-size: 12px;

	--f7-block-header-margin: 0;

	--f7-block-margin-vertical: 16px; /* 32 px*/

	--f7-block-inset-border-radius: 10px;
	--f7-block-inset-side-margin: 16px;
	/*--f7-block-inset-side-margin: calc(2px + var(--scrollbar-width));*/

	--f7-block-title-font-size: 14px;
	--f7-block-title-font-weight: bold;
	--f7-block-title-line-height: 20px;
	--f7-block-title-text-color: inherit;
	--f7-block-title-text-transform: uppercase;
}

.md:not(.theme-dark) {
	--f7-block-footer-text-color: rgba(0,0,0,.5);
}

h2.block {
	/* font: 500 28px/32px 'Gotham Pro'; */
	font: 500 29px/32px 'Noto Sans';
	margin: 27px 0 19px 0; /* 16px 0 16px 0 */
}

.md:not(.theme-dark) h2.block {
	color: white;
}

.md:not(.theme-dark) .block.text-white {
    color: white;
}

h3.block {
	color: rgba(255,255,255,.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 16px 0;
}

h1.title {
	font: 500 29px/32px 'Noto Sans';
	margin: 5px 0 19px 0; /* 16px 0 16px 0 */
	text-align: center;
}

h1.subtitle {
	font: 500 16px/17px 'Noto Sans';
	padding-top: 10px;
	margin: 0;
	text-align: center;
}

.slavonic h1.title,
.churchslavonic h1.title,
.slavonic h1.subtitle,
.churchslavonic h1.subtitle {
	color: var(--kinovar-color);
}

/* region .tile */
.tile {
	--f7-block-margin-vertical: 25px;
	--f7-block-title-margin-bottom: 0;
	background-color: var(--f7-block-strong-bg-color);
	border-radius: var(--f7-block-inset-border-radius);
	margin: var(--f7-block-margin-vertical) var(--f7-block-inset-side-margin);
	overflow: hidden;
}
/* endregion */

.theme-dark .block-strong.inset,
.theme-dark .tile  {
	--f7-block-inset-side-margin: 0;

	background-color: var(--f7-page-bg-color);
	border-radius: 0;
	/*margin-left: 0;
	margin-right: 0;*/
}

.tile .block:first-child {
	margin-top: var(--f7-block-inset-side-margin);/* calc(16px - var(--f7-block-inset-side-margin));*/
}

/* region .block-strong.inset */
.read-mode  {
	--f7-block-inset-side-margin: 0;
	--f7-block-inset-border-radius: 0;
}


.read-mode .block-strong.inset {
	position: absolute;
	top: var(--f7-safe-area-top); /*0*/
	left: 0;
	right: 0;
	margin: 0;
	padding-bottom: calc(var(--read-mode-padding-bottom, 0px) +
	                var(--f7-block-padding-vertical) +
	                var(--f7-page-toolbar-bottom-offset, 0px) +
	                var(--f7-safe-area-bottom)); /*90vh;*/
	min-height: 100vh;
	z-index: 100;
}

.block-strong.inset p > img {
	width: calc(100% + 2 * var(--f7-block-padding-horizontal));
    margin-left: calc(-1 * var(--f7-block-padding-horizontal));
}

.block-strong.inset p:first-child > img {
	margin-top: calc(-1 * var(--f7-block-padding-vertical));
	border-top-left-radius: var(--f7-block-inset-border-radius);
	border-top-right-radius: var(--f7-block-inset-border-radius);
}

 .block-strong.inset p:last-child > img {
	margin-bottom: calc(-1 * var(--f7-block-padding-vertical) - 6px);
	border-bottom-left-radius: var(--f7-block-inset-border-radius);
	border-bottom-right-radius: var(--f7-block-inset-border-radius);
}
/* endregion */


@media (min-width: 768px) {
	:root {
		--f7-block-header-font-size: 20px;
		--f7-block-footer-font-size: 20px;

		--f7-block-margin-vertical: 35px;
		--f7-block-padding-horizontal: 35px;
		--f7-block-padding-vertical: 35px;

		--f7-block-inset-side-margin: 35px;

		--f7-block-title-font-size: 20px;
		--f7-block-title-line-height: 30px;
	}

	.block-title {
		letter-spacing: 1.5px;
	}

	.tile {
		--f7-block-margin-vertical: 42px;
	}

	.tile .block:first-child {
    margin-top: 35px;
	}

	h2.block {
		font: 500 46px/54px 'Noto Sans';
		margin: 40px 0 30px 0;
	}

	h3.block {
		font-size: 18px;
		line-height: 30px;
	}
}
