.md {
  --f7-block-title-text-color: var(--content-color-black-primary);
  --f7-block-title-font-size: var(--mobile-heading-h3);
  --f7-block-title-font-weight: var(700);
  --f7-block-title-line-height: var(--mobile-heading-h3-line-height);

  &.dark, & .dark {
    --f7-block-title-text-color: var(--content-color-baige-900);
  }
}