.theme-dark {
	--f7-dialog-text-color: #fff;
	--f7-dialog-bg-color: #1c1c1d;
	--f7-dialog-title-text-color: #fff;
	--f7-dialog-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
	--f7-dialog-input-bg-color: transparent;
	--f7-dialog-input-placeholder-color: rgba(255, 255, 255, 0.54);
}

@media (min-width: 768px) {
	.md {
		--f7-dialog-width:580px;
		--f7-dialog-inner-padding:35px;
		--f7-dialog-border-radius:8px;
		--f7-dialog-text-align:left;
		--f7-dialog-font-size:24px;
		--f7-dialog-title-font-size:26px;
		--f7-dialog-button-font-size:20px;
		--f7-dialog-button-height:48px;
		--f7-dialog-input-font-size:20px;
		--f7-dialog-input-height:48px;
	}

	.md .dialog-buttons {
    height: auto;
	}

	.md .dialog-button {
		border-radius: 8px;
		min-width: 90px;
		padding: 0 16px;
	}
}
