:root {
	--f7-input-font-size: 15px;

	--f7-input-outline-bg-color: rgba(0,0,0,.06);
	--f7-input-outline-border-color: transparent;
	--f7-input-outline-border-radius: 6px;
	--f7-input-outline-height: 39px;


	--f7-input-text-color: var(--f7-text-color);
	--f7-input-info-text-color: rgba(0,0,0,.5);
	--f7-input-info-line-height: 20px;
}

.theme-dark {
	/*--bg-image: 'none'; */

	--f7-input-outline-bg-color: #1c1c1d;
	--f7-input-outline-border-color: #222222;

	background-image: none;
}

.item-input-outline {
	--f7-input-bg-color: var(--f7-input-outline-bg-color);
}

.md .input-error-message,
.md .input-info,
.md .item-input-error-message,
.md .item-input-info {
	padding-left: 0;
}

.md .input-with-error-message,
.md .input-with-info,
.md .item-input-with-error-message,
.md .item-input-with-info {
	padding-bottom: 0;
}

@media (min-width: 768px) {
	:root {
		--f7-font-size: 24px;

	 	--f7-badge-font-size: 16px;
	 	--f7-badge-size: 24px;

		--f7-input-font-size: 24px;
		--f7-input-outline-height: 60px;
		--f7-input-outline-padding-horizontal: 24px;
		--f7-input-info-font-size: 18px;
		--f7-input-info-line-height: 38px;
		--f7-input-error-font-size: 18px;
    --f7-input-error-line-height: 38px;
	}

	.input-outline .input-clear-button,
	.item-input-outline .input-clear-button {
    right: 16px;
	}
}
