.md {
  --f7-list-item-min-height: 56px;

  --f7-list-font-size: var(--mobile-main-text-regular-b2);

  --f7-list-item-header-text-color: var(--content-color-black-60);
  --f7-list-item-header-font-size: var(--mobile-main-text-regular-b2);
  --f7-list-item-header-line-height: var(--mobile-main-text-regular-b2-line-height);
  --f7-list-item-header-font-weight: 400;

  --f7-list-item-after-font-size: var(--mobile-main-text-regular-b3);
  --f7-list-item-after-font-weight: 400;
  // --f7-list-item-after-text-color: var(--content-color-black-60);
  --f7-list-item-after-line-height: var(--mobile-main-text-regular-b3-line-height);

  --f7-sortable-handler-color: var(--brand-color-primary-accent-50);
  --sortable-item-bg-color: var(--content-color-black-5-no-opacity);
  --f7-sortable-sorting-item-bg-color: #dddbdb;
  --f7-sortable-sorting-item-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);

  --f7-list-strong-bg-color: var(--content-color-black-5);
}

.md {
  &.dark,
  & .dark {
    --f7-list-strong-bg-color: var(--content-color-baige-5);

    --f7-list-item-header-text-color: var(--content-color-baige-40);
    // --f7-list-item-after-text-color: var(--content-color-baige-40);

    --f7-sortable-handler-color: var(--brand-color-primary-accent-50);
    --f7-sortable-sorting-item-bg-color: rgb(51, 47, 46);
    --sortable-item-bg-color: var(--content-color-baige-5-no-opacity);
  }
}
