/* region list */
:root {
	--f7-list-inset-border-radius: 6px;

	/* --f7-list-item-text-font-weight: 300; */
	--f7-list-item-text-max-lines: 3;
	--f7-list-item-title-font-size: var(--f7-font-size);
	--f7-list-item-title-font-weight: normal;
  --f7-list-item-title-line-height: var(--f7-line-height);
	--f7-list-media-item-padding-vertical: var(--f7-list-item-padding-vertical);

	--f7-list-margin-vertical: 16px; /* 32px */
}

.md:not(.theme-dark) {
	--f7-list-item-after-text-color:  rgba(0,0,0,.5);
	--f7-list-item-border-color: rgba(0,0,0,.08); /* rgb(222,222,222); */
	/* --f7-list-item-after-font-weight: 300; */
	--f7-list-item-title-text-color: var(--f7-text-color);
	--f7-list-item-subtitle-text-color: var(--f7-text-color);

	--f7-list-item-text-text-color: rgba(0,0,0,.5);
	--f7-list-chevron-icon-color: rgba(0,0,0,.25);
}

.list .item-inner:after {
	height: 2px;
}

.list .item-inner {
    margin-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
}

.list .item-text {
	text-overflow: ellipsis;
  display: -webkit-box;
	-webkit-box-orient: vertical;
}

.list .item-divider-empty {
	--f7-list-item-divider-border-color: rgba(0,0,0, .4);
	--f7-list-item-divider-height: 1px;
}

.list + .block-footer {
    margin-top: calc(-1 * (var(--f7-list-margin-vertical) - var(--f7-block-footer-margin)));
}
/* endregion */

/* region form-list */
.form-list {
	--f7-list-item-min-height: 39px;
	--f7-list-item-padding-vertical: 2px; /* 8px*/
	--f7-list-item-padding-horizontal: 15px;
}

.theme-dark .form-list {
	--f7-list-bg-color: var(--f7-page-bg-color);
}

.form-list.ext-margin {
    margin-bottom: calc(23px + var(--f7-list-margin-vertical));
}

.form-list li {
	margin-bottom: 10px;
}

.form-list .item-title {
    text-transform: inherit;
}

.form-list .item-inner {
	margin-right: 0;
}

.form-list .smart-select {
	--f7-list-item-min-height: 30px;
}

.form-list .item-inner:after {
	display: none;
}

.form-list .item-link:not(.smart-select) {
	padding-right: var(--f7-list-item-padding-horizontal);
}

.form-list .item-link:not(.smart-select) .item-inner {
	background: var(--f7-input-outline-bg-color);
	border-radius: var(--f7-input-outline-border-radius);
	padding-left: var(--f7-input-outline-padding-horizontal);
}

.block-title + .form-list {
	margin-top: 3px;
}
/* endregion */

.button-fill.button-gradient {
	background-image: linear-gradient(to bottom, var(--f7-theme-color-gradient) 0%, var(--f7-button-bg-color) 100%);
}

/* region ucase-list */
.md:not(.theme-dark) .ucase-list {
	--f7-list-bg-color: transparent;
	--f7-list-chevron-icon-color: rgba(255,255,255,.6);
	--f7-list-item-border-color: rgba(255,255,255,.4);
	--f7-list-item-title-text-color: white;
}

.ucase-list {
	--f7-list-item-title-font-size: 14px;
	--f7-list-item-title-font-weight: bold;
	--f7-list-item-title-line-height: 14px;
	--f7-list-item-min-height: 52px;
}

.ucase-list .item-title {
	text-transform: uppercase;
}

.ucase-list ul:before,
.ucase-list ul:after {
	display: none;
}

@media (min-width: 768px) {

	.form-list {
		--f7-list-item-min-height: 60px;
	}
	.ucase-list {
		--f7-list-item-title-font-size: 20px;
		--f7-list-item-title-line-height: 20px;
		--f7-list-chevron-icon-font-size: 25px;
		--f7-list-item-padding-vertical: 30px;
		--f7-list-item-min-height: 82px;
	}

	.ucase-list .item-title {
		letter-spacing: 1.5px;
	}

	.md .item-media .material-icons {
    font-size: 28px;
    width: 28px;
    height: 28px;
	}
}

/* endregion */

/** region .list-transparent */
.md:not(.theme-dark) .list-transparent {
	--f7-list-bg-color: transparent;
	color: white;
}
/** endregion */
