.md {

  --f7-navbar-height: 56px;

  --f7-navbar-bg-color: var(--content-color-black-5-no-opacity);
  --f7-navbar-bg-color-rgb: 241, 241, 241;
  --f7-navbar-border-color: var(--content-color-black-20);
  --f7-navbar-text-color: var(--content-color-black-primary);
  --f7-navbar-subtitle-text-color: var(--content-color-black-60);
  --f7-navbar-link-color: var(--content-color-black-primary);

  --f7-navbar-title-font-size: var(--mobile-main-text-regular-b1);
  --f7-navbar-title-line-height: var(--mobile-main-text-regular-b1-line-height);

  --f7-navbar-large-title-font-size: var(--mobile-heading-h3);
  --f7-navbar-large-title-line-height: var(--mobile-heading-h3-line-height);
  --f7-navbar-large-title-font-weight: 700;
  --f7-navbar-large-title-padding-vertical: 0;
  --f7-navbar-large-title-height: 54px;


  .navbar {
    --f7-link-touch-ripple-color: rgba(255, 255, 255, 0.15);
    
    .title-large {
      align-items: flex-start;
    }

    .link.panel-open {
      padding: 0 6px;
      
      path {
        fill: var(--content-color-black-primary);
      }
    }

    a.icon-only {
      // justify-content: center;
      // padding: 0;
    }
  }

  &.dark, & .dark {
    --f7-navbar-bg-color: var(--content-color-black-primary); // var(--content-color-baige-5-no-opacity);
    --f7-navbar-bg-color-rgb: 31, 27, 26;
    --f7-navbar-border-color: var(--content-color-baige-20);
    --f7-navbar-text-color: var(--content-color-baige-90);
    --f7-navbar-link-color: var(--content-color-baige-90);

    --f7-navbar-subtitle-text-color: var(--content-color-baige-60);

    .navbar .link.panel-open path {
      fill: var(--content-color-baige-90);
    }
  }
}