/* region navbar */
:root {
	--f7-navbar-font-size: 14px;
	--f7-navbar-height: 40px; /* 56px; */
	--f7-subnavbar-height: 55px;
	--f7-navbar-title-font-weight: bold;
	--f7-navbar-link-color: rgba(255,255,255,.7);
}

.md:not(.theme-dark) {
	--f7-navbar-shadow-image: transparent;
	--f7-navbar-border-color: rgba(255,255,255,.25);
	--f7-navbar-text-color: white;
	--f7-navbar-bg-color: transparent; /*#1b1b35;*/

	--f7-subnavbar-bg-color: transparent;
	--f7-subnavbar-bg-image: transparent;
	--f7-subnavbar-shadow-image: transparent;
}

.md:not(.theme-dark) .navbar-bg {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.page-with-subnavbar .navbar-bg {
	height: calc(var(--f7-navbar-height) + var(--f7-subnavbar-height));
}

.navbar-bg:after {
	height: 2px;
	width: auto;
	left: var(--f7-block-padding-horizontal);
	right: var(--f7-block-padding-horizontal);
}

.navbar .title {
	text-transform: uppercase;
	padding-top: 1px;
}

.navbar .left + .title {
	display: none;
}

@media (max-width: 370px) {
	.md .navbar a.link {
		padding: 0 12px;
	}
}

@media (max-width: 325px) {
	.md .navbar a.link {
		padding: 0 10px;
		min-width: 36px;
	}
}

.navbar a.link.back {
    padding-left: 16px;
}

.navbar a.link.back span {
	color: var(--f7-navbar-text-color);
	font-weight: var(--f7-navbar-title-font-weight);
	text-transform: uppercase;
	padding-top: 1px;
}

.navbar a.link.popup-open {
	padding: 0 7px;
  min-width: 40px;
  margin-right: 13px;
}

.navbar a.link.back .icon-back {
	--f7-navbar-link-color: rgba(255,255,255,.6);
	margin-left: -6px;
}

.navbar a.link.vm-searchbar-button {
	margin-right: 8px;
	display: none;
	color: #000;
}

@media (min-width: 768px) {
	:root {
		--f7-navbar-font-size: 20px;
		--f7-navbar-title-font-size: 20px;
		--f7-navbar-title-margin-left: 35px;
		--f7-navbar-height: 52px;

		--f7-subnavbar-height: 80px;
		--f7-subnavbar-inner-padding-left: 35px;
		--f7-subnavbar-inner-padding-right: 35px;
	}

	.navbar .title {
		letter-spacing: 1.5px;
	}

	.md .navbar a.link {
	   padding: 0 var(--f7-block-padding-horizontal);
	}

	.navbar a.link.back {
		letter-spacing: 1.5px;
	  padding-left: var(--f7-block-padding-horizontal);
	}

	.navbar a.link.back .icon-back {
    margin-left: -14px;
    width: 40px;
	}

	.navbar a.link.back span {
		padding-top: 3px;
	}

	.md .icon-back:after,
	.md .icon-prev:after,
	.md .icon-forward:after,
	.md .icon-next:after {
		font-size: 28px;
		line-height: 1;
	}

	.md .icon-back,
	.md .icon-forward,
	.md .icon-next,
	.md .icon-prev {
    width: 28px;
    height: 28px;
	}

	.md .navbar .material-icons {
		width: 28px;
	}

}
/* endregion */
