.md {
  --f7-panel-bg-color: var(--content-color-baige-100);
  --panel-status-bar-color: var(--content-color-black-60);

  .panel {
    // height: calc(100% - var(--f7-safe-area-bottom));
  }

  &.dark, & .dark {
    --f7-panel-bg-color: var(--content-color-black-primary);
    --panel-status-bar-color: var(--f7-panel-bg-color);
  }
}