.md {
  --f7-popover-bg-color: var(--content-color-white-100);
  --f7-popover-border-radius: 12px;

  --popover-backdrop-color: rgba(0, 0, 0, 0.4);

  .popover-backdrop {
    background: var(--popover-backdrop-color);
  }

  &.dark, & .dark {
    --f7-popover-bg-color: var(--content-color-black-secondary);
  }
}