/** region searchbar */
:root {
	--f7-searchbar-input-font-size: 17px;
	--f7-searchbar-input-border-radius: 6px;
	--f7-searchbar-input-height: 39px;
	--f7-searchbar-input-padding-horizontal: 28px;
	--f7-searchbar-height: 55px;
	--f7-searchbar-inner-padding-left: 16px; /*8px;*/
	--f7-searchbar-inner-padding-right: 16px; /*8px;*/
}

.md:not(.theme-dark) {
	--f7-searchbar-bg-color: rgb(248,248,248);
	--f7-searchbar-search-icon-color: rgba(0,0,0,.25);
	--f7-searchbar-input-bg-color: rgba(0,0,0,.06);
}

.vm-searchbar-button {
	flex-shrink: 0;
	margin-left: var(--f7-searchbar-inner-padding-left);
}

.md:not(.theme-dark) .searchbar-transparent {
	--f7-searchbar-bg-color: rgba(255, 255, 255, 0);
	--f7-searchbar-input-clear-button-color: rgba(255, 255, 255, .7);
	--f7-searchbar-input-text-color: rgb(255, 255, 255);
	--f7-searchbar-link-color: rgba(255, 255, 255, .7);
	--f7-searchbar-search-icon-color: rgba(255, 255, 255, .7);
	--f7-searchbar-placeholder-color: rgba(255, 255, 255, .5);

	--f7-searchbar-in-page-content-margin: 0;
}

#searchbarResult li .item-title,
#searchbarResult li .item-subtitle {
	white-space: normal;
}

#searchbarResult li .item-text {
	-webkit-line-clamp: unset;
	max-height: none;
	font-size: 0.75em;
}

#searchbarResult li .item-title > b,
#searchbarResult li .item-text > b {
	color: var(--f7-theme-color);
}

@media (min-width: 768px) {
	:root {
		--f7-searchbar-height: 80px;

		--f7-searchbar-inner-padding-right: 35px;
		--f7-searchbar-inner-padding-left: 35px;

		--f7-searchbar-input-height: 60px;
		--f7-searchbar-input-font-size: 24px;
		--f7-input-clear-button-size: 24px;
	}

	.searchbar-icon:after {
		font-size: 28px;
	}

	.md .page > .searchbar,
  .md .subnavbar .searchbar,
  .md .searchbar-expandable {
    --f7-searchbar-input-extra-padding-left: 40px;
	}

	.md .searchbar-icon {
		width: 28px;
		height: 28px;
		margin-top: -17px;
		margin-left: 17px;
	}

	.md .searchbar .input-clear-button {
    width: 60px;
    height: 60px;
    margin-top: -30px;
	}

	.md .searchbar .input-clear-button:after {
		line-height: 60px;
	}
}
/** endregion */
