.md {

  .smart-select-popover {
    // --f7-popover-bg-color: var(--content-color-baige-100);
    --f7-popover-width: 300px;
    --f7-popover-border-radius: 8px;
    --f7-list-item-min-height: 42px;
    --f7-list-item-padding-horizontal: 8px;
    --f7-list-item-title-font-size: var(--mobile-main-text-regular-b2);//var(--mobile-main-text-regular-b2);
    --f7-list-item-title-line-height: var(--mobile-main-text-regular-b2-line-height); //var(--mobile-main-text-regular-b2-line-height);

    --f7-popover-bg-color: var(--content-color-baige-100);
    --selected-item-bg-color: var(--content-color-black-10);

    margin-top: -13px;

    .popover-arrow {
      display: none;
    }

    .popover-inner {
      padding: 2px 8px;
    }

    .list li label.item-content {
      padding: 0;
      margin: 6px 0;
    }

    .item-inner {      
      padding: var(--f7-list-item-padding-horizontal);
      border-radius: var(--f7-popover-border-radius); 
    }

    .icon-radio {
      display: none;
    }

    input[type='radio']:checked ~ .item-inner {
      background: var(--selected-item-bg-color);
    }


  }

  &.dark, & .dark {
    --popover-backdrop-bg-color: rgba(217, 217, 217, 0.1);
    --popover-backdrop-before-bg-color: var(--content-color-black-primary-50);

    .smart-select-popover {
      --f7-popover-bg-color: var(--content-color-black-primary);
      --selected-item-bg-color: var(--content-color-baige-10);
    }
  }
}