
/* region tabs-subnavbar */
.tabs-subnavbar {
	--f7-subnavbar-height: 31px;
	--f7-subnavbar-border-color: #eaeaea;
	--f7-subnavbar-bg-image: none;
	--f7-subnavbar-bg-color: transparent;
	--f7-subnavbar-shadow-image: none;

	position: static;
	transform: none !important;
}

.page-with-tabs-subnavbar,
.tabs-subnavbar ~ * {
  --f7-page-subnavbar-offset: 0px;
}

.tabs-subnavbar:before {
	height: 0px;
}

.tabs-subnavbar:after {
	display: none;
}
/* endregion */

/* region segmanted */
.segmented {
	--f7-button-height: 31px;
  align-self: flex-end;
	box-shadow: none;
  border: 0 none;
  border-radius: 0;
	border-bottom: 2px solid rgba(255,255,255, .25);
}

.segmented .button:not(.button-outline) {
	z-index: 16;
	width: auto;
  font-weight: bold;
	color: rgba(255,255,255, .6);
	border-radius: 0;
	border: 0 none;
	margin-bottom: -2px;
  padding: 0 10px;
  margin-left: 17px;
}

.segmented .button.tab-link-active {
	--f7-button-bg-color: transpatent;
	color:  white;
	border-bottom: 2px solid white;
}

.theme-dark .segmented .button.tab-link-active {
	color:  var(--f7-text-color);
	border-bottom: 2px solid var(--f7-text-color);
}

.segmented .button:not(.button-outline):first-child {
  padding-left: 1px;
  margin-left: 0;
}

@media (min-width: 768px) {
	.tabs-subnavbar {
		--f7-subnavbar-height: 51px;
	}

	.segmented {
		--f7-button-font-size: 20px;
		--f7-button-height: 50px;
		justify-content: center;
	}
}
/** endregion */
