.md {
  --f7-tabbar-icons-height: 83px;
  --f7-tabbar-icons-tablet-height: 83px;

  --f7-tabbar-link-active-color: var(--content-color-white-100);
  --f7-tabbar-link-inactive-color:  var(--content-color-baige-600);
}

.tabbar {
  --f7-link-touch-ripple-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(50px);
  box-shadow: 0 -0px 0 0 rgba(0, 0, 0, 0.3);
}
