:root {
	/* --bg-image: url('../images/bg.jpg'); */

	--kinovar-color: rgb(227,66,52); /* rgba(255,0,0,.8) */

	--f7-autocomplete-dropdown-text-matching-font-weight: 600;

	--f7-button-border-radius: 6px;
	--f7-button-large-height: 45px;
	--f7-button-large-font-size: 14px;
	--f7-button-large-font-weight: bold;
	--f7-button-small-font-size: 12px;
	--f7-button-small-font-weight: bold;

	--f7-button-raised-box-shadow: none;

	--f7-calendar-day-size: 34px;
	--f7-calendar-week-header-bg-color: transparent;
	--f7-calendar-week-header-font-size: var(--f7-font-size);
	--f7-calendar-week-header-height: 38px;

	--f7-font-family: Circe, 'Helvetica Neue', Arial, sans-serif;
	--f7-font-size: 15px;
	--f7-line-height: 1.3;
	--f7-panel-left-width: 100%;

	--f7-preloader-color: rgb(255,128,32);
	--f7-preloader-modal-bg-color: transparent;
	--f7-preloader-modal-preloader-size: 75px;

	--f7-progressbar-height: 2px;
	--f7-progressbar-border-radius: 2px;
	--f7-progressbar-bg-color: rgba(0, 0, 0, 0.08);

	--f7-radio-active-color: rgb(17, 184, 18);

	--f7-theme-color: rgb(255, 128, 32); /* #ed883e;#ef883d;*/
	--f7-theme-color-rgb: 255, 128, 32;
	--f7-theme-color-gradient: rgb(255, 198, 32);
}

.md:not(.theme-dark) {
	--f7-calendar-day-text-color: rgba(0,0,0,.56);
	--f7-calendar-prev-next-text-color: rgba(0,0,0,.18);
	--f7-calendar-week-header-text-color: rgba(0,0,0,.35);

	/*--f7-page-bg-color: #1b1b35;*/

	--f7-skeleton-color: rgba(204, 204, 204, 0.5);

	--f7-theme-color-shade: rgb(225, 128, 32);
	--f7-text-color: rgba(0,0,0,.8);
}

.theme-dark {
	/*--bg-image: 'none'; */
	background-image: none;
}

@media (min-width: 768px) {
	:root {
		--f7-font-size: 24px;

	 	--f7-badge-font-size: 16px;
	 	--f7-badge-size: 24px;

		--f7-button-border-radius: 9px;

		--f7-button-height: 50px;
    --f7-button-font-size: 20px;

		--f7-button-small-height: 40px;
    --f7-button-small-font-size: 16px;

		--f7-button-large-height: 70px;
		--f7-button-large-font-size: 20px;
	}

	.button-large {
		--f7-button-letter-spacing: 1.5px;
	}
}
