<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="906" defaultlocale="Russian" id="ru.valaam.prayers" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Валаам</name>
    <description>
        Валаамский православный молитвослов, церковный календарь и библиотека.
	</description>
    <author email="admin@valaam.ru" href="https://valaam.ru">
		Валаамский Монастырь
	</author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <access origin="http://phonegap.itilev.ru" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="webcal:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="cdvfile:*" />
    <allow-navigation href="http://phonegap.itilev.ru/*" />
    <hook src="scripts/after_prepare.sh" type="after_prepare" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="ShowSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="0" />
</widget>
